body
{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button
{
    background-color:blue;
    color: white;
    border-radius: 5px;
    border:olive;
}
button:active
{
    box-shadow: 0;
    transform: translate(2px,2px);
}