body
{
    background-color: blue;
}

h2
{
    position: relative;
    left: 55px;
    font-size: 40px;
}
h1{
    position: relative;
    left: 125px;
    font-size: 50px;
}
.container
{
    position: relative;
    left: 800px;
    top: 300px;
  

}